

html{
	height: 100%;
}

:root {
	
	--about-colour: #b70000;
	--home-colour: #a2a1a1;
	--project-colour: #0061b7;
	--qualification-colour: #6100b7;
}
/*fonts*/

.links {
	text-decoration: none;
	color: #fff;
	position: relative;
}

	.links::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: currentColor;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 250ms ease-in, color 250ms ease-in;
	}

	.links:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}

	.links:hover{
		color: var(--about-colour);
		transition: all 250ms ease-in;
	}

.hexagon {
	position: relative;
	width: 80px;
	height: 46.19px;
	background-color: #002121;
	margin: 23.09px 0;
	border-left: solid 2px #FFFFFF;
	border-right: solid 2px #FFFFFF;
	left: 5%;
}

	.hexagon::before,
	.hexagon::after {
		content: "";
		position: absolute;
		z-index: 1;
		width: 56.57px;
		height: 56.57px;
		-webkit-transform: scaleY(0.5774) rotate(-45deg);
		-ms-transform: scaleY(0.5774) rotate(-45deg);
		transform: scaleY(0.5774) rotate(-45deg);
		background-color: inherit;
		left: 10.7157px;
	}

	.hexagon::before {
		top: -28.2843px;
		border-top: solid 2.8284px #FFFFFF;
		border-right: solid 2.8284px #FFFFFF;
	}

	.hexagon::after {
		bottom: -28.2843px;
		border-bottom: solid 2.8284px #FFFFFF;
		border-left: solid 2.8284px #FFFFFF;
	}

	.hexagon:hover::after {
		border-bottom: solid 2.8284px var(--about-colour);
		border-left: solid 2.8284px var(--about-colour);
		transition: all 370ms ease-in;
	}
	.hexagon:hover::before {
		border-top: solid 2.8284px var(--about-colour);
		border-right: solid 2.8284px var(--about-colour);
		transition: all 130ms ease-in;
	}
	.hexagon:hover {
		border-left: solid 2.8284px var(--about-colour);
		border-right: solid 2.8284px var(--about-colour);
		background-color: var(--about-colour);
		transition: all 250ms ease-in;
	}

h1
{
font-family: 'Oswald', sans-serif;
font-size: 36px;
}
#t1
{
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 36px;
}
#n1
{
font-family: 'Oswald', sans-serif;
font-size: 32px;
}

/*divs*/

header {
	background-color: #89622e;
	width: 100.87%;
}
body {
	background-color: #002121;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
footer {
	margin-top: auto;
	background-color: #89622e;
	width: 100.87%;
}


.grid{
	margin: 5rem auto;
	width: min(90%, 75rem);
	display: grid;
	grid-auto-flow:column;
	gap: 2em;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}