

/*fonts*/

a:link
{
color: #FFFFFF;
text-decoration: none;
}
a:visited
{
color: #FFFFFF;
text-decoration: none;
}
a:hover
{
	color: #A9A9A9;
	text-decoration: none;
}
h1
{
font-family: 'Oswald', sans-serif;
font-size: 40px;
}
#t1
{
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 40px;
}
#n1
{
font-family: 'Oswald', sans-serif;
font-size: 36px;
color: #FFFFFF;
}

/*divs*/

header
{
height: 125px;
width: 101.35%;
background-color: #7272ab;
}
body
{
background-color: #f6f7eb;
}
footer
{
height: 55px;
width: 100%;
background-color: #7272ab;
position: fixed;
bottom: 0px;
left: 0px;
}
nav
{
width: 98.99%;
background-color: #191716;
padding: 16px;
left: -10px;
position: fixed;
}
html{
  scroll-snap-type: y mandatory;
}
section{
  scroll-snap-align: start;
}
img
{
display: block;
margin-left: 65%;
margin-right: auto;
width: 35%;
height:auto;
}